<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
     <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

     <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
    <title>웹개발자 나평근</title>


    <style>
        .hr-bold {
            border: 0;
            height: 2px;
            background: #aaa;
        }

        .hr-light {
            border: 0;
            height: 1px;
            background: #aaa;
        }

        body {
            position: relative;
        }

    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="./home.html">준비된 웹 개발자 나 평 근</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item active">
                                <a class="nav-link" href="./home.html">Home<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="">소개</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    작품
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="#">Smart Broadcast Speaker</a>
                                    <a class="dropdown-item" href="#">CodeHouse</a>
                                    <a class="dropdown-item" href="#">ToOurShared</a>
                                    <a class="dropdown-item" href="#">HomeStay</a>
                                    <a class="dropdown-item" href="#">Caffe Pos</a>
                                    <a class="dropdown-item" href="#">Google Image Scrap With Python</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div id="list-example" class="list-group">
                    <a class="list-group-item list-group-item-action" href="#list-item-1">Smart Broadcast Speaker</a>
                    <a class="list-group-item list-group-item-action" href="#list-item-2">Google Image Scrap With Python</a>
                    <a class="list-group-item list-group-item-action" href="#list-item-3">CodeHouse</a>
                    <a class="list-group-item list-group-item-action" href="#list-item-4">ToOurShared</a>
                    <a class="list-group-item list-group-item-action" href="#list-item-5">HomeStay</a>
                    <a class="list-group-item list-group-item-action" href="#list-item-6">Caffe Pos</a>

                </div>
            </div>
            <div class="col-9">
                <div class="overflow-auto" style="height: 800px;">
                    <div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example">
                        <hr class="hr-bold" />
                        <h4 id="list-item-1">Smart Broadcast Speaker</h4>
                        <hr class="hr-light" />
                        <p> 사용기술 : Java, HTML5, CSS, JavaScript, NodeJS, Spring, AWS EC2, CEK(Clova Extension Kit β)</p>
                        <p> 요약 : 네이버 CEK를 이용한 Clova Custome Extension</p>
                        <p> 개발 동기 : </p>
                        <p> 상세 설명 : </p>
                        <hr class="hr-bold" />

                        <h4 id="list-item-2">Google Image Scrap With Python</h4>
                        <hr class="hr-light" />
                        <p> 사용기술 : Python, BeautifulSoup, Selenium</p>
                        <p> 요약 : CLI 인터페이스로 각 파라미터로 파라미터를 전달하여 키워드 입력으로서 구글 이미지를 검색하여 정해진 경로에 저장</p>
                        <p> 개발 동기 : </p>
                        <p> 상세 설명 : </p>
                        <hr class="hr-bold" />

                        <h4 id="list-item-3">CodeHouse</h4>
                        <hr class="hr-light" />
                        <p> 사용기술 : Java, HTML5, CSS, JavaScript, Spring, MariaDBBootStrap, SummerNote</p>
                        <p> 요약 : 오픈소스 SummerNote를 이용한 커뮤니티</p>
                        <p> 개발 동기 : </p>
                        <p> 상세 설명 : </p>
                        <hr class="hr-bold" />

                        <h4 id="list-item-4">ToOurShared</h4>
                        <hr class="hr-light" />
                        <p> 사용기술 : </p>
                        <p> 요약 : Kakao 지도 API를 이용한 여행정보 리뷰및 공유 사이트</p>
                        <p> 개발 동기 : </p>
                        <p> 상세 설명 : </p>
                        <hr class="hr-bold" />

                        <h4 id="list-item-5">HomeStay</h4>
                        <hr class="hr-light" />
                        <p> 사용기술 : Java, HTML5, CSS, JavaScript, Spring, MariaDB, BootStrap, </p>
                        <p> 요약 : TOUR API 3.0을 이용한 </p>
                        <p> 개발 동기 : </p>
                        <p> 상세 설명 : </p>
                        <hr class="hr-bold" />

                        <h4 id="list-item-6">Caffe Pos</h4>
                        <hr class="hr-light" />
                        <p> 사용기술 : Java</p>
                        <p> 요약 : Swing 라이브러리를 이용한 </p>
                        <p> 개발 동기 : </p>
                        <p> 상세 설명 : HashMap을 이용한 DB 시스템 구현.</p>
                        <hr class="hr-bold" />

                    </div>
                </div>

            </div>
        </div>
    </div>

</body>

</html>
